.navbar-main {
  padding-left:20px;
  background-color:#f5f5f5 !important;
  font-family: 'Spartan';
}

.nav-item {
  margin-left:20px;
  color:black !important;
}

.logout {
  margin-left:20px;
}

body {
  font-family: 'Spartan';
}

/* register page */
.register-container {
  background-image:url('./register.png');
  background-color: #a3c6ea;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-form-div {
  margin-right:100px;

}
.register-form, .login-form {
  border:none;
  padding:20px;
  margin-right:20px;
  display:flex;
  flex-direction:column;
  align-items:center;
  font-size:20px;
}

.register-form input, .login-form input {
  background-color:rgb(235, 235, 235);
  border:none;
  color:black;
  padding:10px;
  font-family:'Space Grotesk';

}

.register-form-button, .login-form-button {
  border-radius:5px;
  color:white;
  font-family:'Space Grotesk';
  border:none;
  padding:10px;
}

.register-form-button {
  background-color:#4ba397;
}

.login-form-button {
  background-color:#a34b51;
}

.form-title {
  font-family:'Share Tech Mono';
  font-size:80px;
}

.register-subtitle, .login-subtitle {
  font-size:15px;
  font-family:'Space Grotesk';
  margin-bottom:20px;
}

/* HOME PAGE */

.home-container {
  background-image:url('./home.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family:'Share Tech Mono';
  font-size:100px;
}

.subtitle {
  font-family:'Space Grotesk';
  font-size:30px;
  margin-bottom:15px;
}

/*buttons */
.register-button {
  background-color:#4ba397;
  color:white;
  border:none;
}

.about-button {
  background-color:#a34b51;
  color:white;
  border:none;
}

.register-button, .about-button {
  border-radius:5px;
  margin-right:20px;
  padding:10px;
  font-family:'Space Grotesk';
}

.register-button:hover, .about-button:hover {
  opacity:0.8;
}
/* LOGIN*/
.login-container {
  background-image:url('./login.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Profile page */

.profile-div {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.profile-div img {
  margin-top:20px;
}

.profile-title {
  font-size:50px;
  font-family:'Share Tech Mono';
  text-align:center;
  margin-top:20px;
}

.subheading {
  font-family:'Spartan';
}

.badges {
  flex-direction:row;
  display:flex;
}

.badge1, .badge2, .badge3{
  margin-left:5px;
  padding:3px;
  font-size:12px;
  border-radius:8px;
  border:none;
  font-family:'Space Grotesk';
  color:white;
}

.badge1 {
  background-color:#4ba397;
}

.badge2 {
  background-color:#a34b51;
}

.badge3 {
  background-color:#a34b7d;
}